**/.bundle/
**/log/*.log
**/pkg/
**/spec/dummy/db/*.sqlite3
**/spec/dummy/db/*.sqlite3-journal
**/spec/dummy/log/*.log
**/spec/dummy/storage/
**/spec/dummy/tmp/
**/tmp/
config/console.env
.env
skaffold-overrides.yaml
erd.pdf
.generators
.rakeTasks
