# mount project source directories so changes to source are immediately reflected in the services
version: '3'
services:
  iam:
    # environment:
    # disabling tail command will start webrick automatically; will also shutdown container quicker in case of multiple restarts
    # command: ["tail", "-F", "log/development.log"] # don't start the server
    volumes:
      - "${ros_dir:-.}/ros-iam:/home/rails/app"
      - "${ros_dir:-.}/ros-core:/home/rails/ros-core"
      - "${ros_dir:-.}/ros_sdk:/home/rails/ros_sdk"
    ports: # https://docs.docker.com/compose/compose-file/#ports
      # - '1234:1234'
      # - '9394:9394'
  cognito:
    # command: ["tail", "-F", "log/development.log"] # don't start the server
    volumes:
      - "${ros_dir:-.}/ros-cognito:/home/rails/app"
      - "${ros_dir:-.}/ros-core:/home/rails/ros-core"
      - "${ros_dir:-.}/ros_sdk:/home/rails/ros_sdk"
  comm:
    # command: ["tail", "-F", "log/development.log"] # don't start the server
    volumes:
      - "${ros_dir:-.}/ros-comm:/home/rails/app"
      - "${ros_dir:-.}/ros-core:/home/rails/ros-core"
      - "${ros_dir:-.}/ros_sdk:/home/rails/ros_sdk"
